<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>

	<h1>Create a Post</h1>
	<form th:action="@{/posts/create}" th:method="POST" th:object="${post}">
		<div>
			<label for="title">Title</label>
			<br>
			<input id="title" th:field="*{title}" />
		</div>
		<div>
			<label for="body">Body</label>
			<br>
			<textarea th:field="*{body}" id="body" placeholder="Enter Blog Content"></textarea>
		</div>
		<div>
			<label for="image-1">Image 1</label>
			<input id="image-1" name="urls" type="url" placeholder="Enter image url">
			<br>
			<label for="image-2">Image 2</label>
			<input id="image-2" name="urls" type="url" placeholder="Enter image url">
		</div>
		<button>Create Post</button>
	</form>
</body>
</html>