<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/partials.html :: head ('Discogs test')">

</head>
<body>
	<script src="keys.js"></script>
	<header th:replace="partials/partials.html :: header"></header>
	<nav th:replace="partials/partials.html :: navbar"></nav>

	<textarea id="results"></textarea><br>
	<input id="search-bar" type="text">
	<button id="search-button">Search</button>
	<footer th:replace="partials/partials.html :: footer"></footer>
	<script th:replace="partials/partials.html :: bootstrap-js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<script>
		'use strict';

		const searchBar = $("#search-bar");
		const searchButton = $("#search-button");
		const searchResults = $("#results");

		searchButton.click(function (){
		    console.log(searchBar.innerText);
		    var search = new XMLHttpRequest()
            $.get("/v1/search?type=album&include_external=audio HTTP/1.1"), {
                Content_Type: application/json,
            Authorization: ,
                Host: api.spotify.com
        }
            $.get("https://api.discogs.com/database/search?release_title=nevermind&artist=nirvana&per_page=3&page=1", {
                Authorization: {discogs_key: DISCOGS_CONSUMER_KEY, secret:DISCOGS_CONSUMER_SECRET}
            }).done(function(data) {
                console.log(data);
                searchResults.innerText = data;
            });
			//"https://api.discogs.com/database/search?q="+ searchBar.val() + "&key="+DISCOGS_CONSUMER_KEY+"&secret="+DISCOGS_CONSUMER_SECRET
            //GET https://api.discogs.com/database/search?release_title=nevermind&artist=nirvana&per_page=3&page=1
		})

        // const editMovie = async (id, title, rating) =>{
        //     let options = {
        //         method: "PUT",
        //         headers: {
        //             'Content-Type' : 'application/json',
        //         },
        //         body: JSON.stringify({
        //             title: title,
        //             rating: rating,
        //             id: id
        //         })
        //     };
        //     fetch(`${moviesURL}/${id}`, options)
        //         //.then(data => console.log(data))
        //         .catch(error => console.log(error));
		//
        //     await new Promise((resolve) => setTimeout(resolve, 2500));
        //     fetchData();
        // }
		//
        // fetch(moviesURL)
        //     .then(res => res.json())
        //     .then(data => {
        //         return renderHTML(data);
        //     })
	</script>
</body>
</html>